.payment-modal.active{
  display:flex;
}

.pay-item.selected{
  border:2px solid #22c55e;
  background:#ecfdf5;
}

.guide{
  font-size:14px;
  margin:10px 0;
  color:#555;
}

#copyBtn{
  width:100%;
  padding:12px;
  margin-bottom:10px;
  border:none;
  background:#2563eb;
  color:#fff;
  border-radius:10px;
}

#confirmBtn{
  width:100%;
  padding:14px;
  background:#22c55e;
  color:#fff;
  border:none;
  border-radius:10px;
}
